body{
  /*background:white;*/
  background: url(bg.jpg);
}


.content{
  position: absolute;
  width:300px;
  margin-left: 250px;
  color:black;
  background-color:black;
}
.profile img{
  padding: 8px; 
  padding-bottom: 10px;
  width: 280px;
  border-radius: 500px;

  }

.name
{
  margin-top: 3px;
  position: absolute;
  text-align: center;
}
.student{
  padding-left: 1px;
  width: 250px;
  height: 30px;
  background-color:  #7F8FF0;
  font-size: 30px;
  text-align: center;
}
.about-me{
  width: 250px;
  height: 30px;
  margin-bottom:20px;
  background-color:  Red;
  font-size: 24px;
  text-align: center;
}
.key{
  font-weight: bold;

}

.value{
  

}

.contact{
    width: 300px;
  height: 40px;
  background-color:orange;
  font-size: 25px;
  text-align: center;

}

#box1{
  
  padding-left:7px;
  padding-top:  5px;
  text-align: 35px; 
  color: white;
}
.language{
  
  width: 300px;
  height: 40px;
  background-color: lightGreen;
  font-size: 25px;
  text-align: center;
  
}
#box2{
  
  padding-left:7px;
  padding-top: 12px;
  padding-bottom: 10px; 
  text-align: 35px;
  color: white;
}
.hobby{
  width: 300px;
  height: 40px;
  background-color:Lightblue;
  font-size: 25px;
  text-align: center;
}

#box3{
  
  padding-left:7px;
  padding-top: 10px; 
  text-align: 30px;
  color: white;
}

.profilebasic{
  width: 600px;
  height: 895px;
  background-color:white;
  position: absolute;
  margin-left: 555px;
  display: inline-block;
  vertical-align: top;
  color: black;
}
.profile1{
  padding-top:  10px;
  padding-bottom: 20px;
  padding-left: 8px;  
  font-size: 40px;
  background-color:powderblue;
  color: black;
}

#box4{
  margin-bottom:5px; 
  background-color: orange;
  padding-left:7px;
  padding-top: 10px;
  text-align: left; 
  color: black;
  padding-bottom: 1px;
}

.blank1{
  width: 597px;
  border-style:solid;
  border-width:2px;
  border-color:white; 
}

.heading{
  width: 300px;
  height: 30px;
  background-color: #7F8FF0 ;
  font-size: 24px;
  text-align: center;
  padding-left: 1px;
}
.heading1{
  margin-bottom: 12px;
  width: 300px;
  height: 30px;
  background-color: #7F8FF0 ;
  font-size: 24px;
  text-align: center;
  padding-left: 1px;
  padding-bottom:5px; 
}

.info{
  background-color: green;
  padding-left:7px;
  padding-top: 15px;
  padding-bottom: 10px; 
  text-align: 10px;
  color: white;
}
